.dis_error_div{ display:block; height:90px; line-height:30px; border:3px #f2f2f2 solid;;margin:50px auto 300px auto; text-align:center; width:60%; padding-top:30px;  text-align:left;}
.dis_error_img{ float:left; margin-left:30px;padding-top:10px;}
.dis_error_text{ float:left;color:#333;margin-left:20px;}

.css_top_menu{ float:right; margin-right:0px; }
.css_top_div{width:100%;height:30px; line-height:30px; max-width:1200px;min-width:1000px;margin:auto;}
.css_top_title{color:#666; font-size:12px;}
.css_top_blank{ width:100%;  height:80px;background-color:#fff;}
.css_top_blank2{ width:95%; max-width:1200px;min-width:1000px; height:100%; margin:auto;}
.css_top_logo{ clear:both; width:259px; margin-top:10px; float:left;}


.page_single_top{ clear:both;max-width:1200px;min-width:1000px; margin:auto; }

.page_single_top ul{  height:35px; line-height:35px; overflow:hidden;background:url(../img/topmenu_bg.png);-moz-border-radius:0px 5px 0px 0px;-webkit-border-radius:0px 5px 0px 0px;border-radius:0px 5px 0px 0px;}
.page_single_top li{ float:left;}
.page_single_top li a{ float:left; width:120px; font-size:14px;background:url(../img/topmenu_bg3.png) no-repeat right; text-align:center;color:#fff; font-weight:bolder; }
.page_single_top li a:hover,#onselect_topmenu{background:url(../img/nv_a.gif) center; text-decoration:none; }

.search_top{ height:40px; line-height:40px; background-color:#e8eff5; padding-left:15px; padding-top:7px; font-size:12px;}
.search_top_1{ float:left;width:400px;}
.search_top_2{ float:left; line-height:35px;width:500px; height:40px; overflow:hidden;}
.search_top_2 a{ float:left; margin-right:10px; color:#336699;}
.search_top_2 a:hover{ text-decoration:underline;}
.search_top_2 span{float:left; font-weight:bolder; color:#333;}
.search_input{ height:28px;width:350px; border:1px #d9e5e9 solid; padding-left:5px; margin-top:2px; color:#999; font-size:12px; float:left;}
.search_submit{background:url(../img/search.png) no-repeat center; width:35px; height:35px; cursor:pointer;float:left;}

.page_single_main{width:100%; background-color:#fff; margin:auto; clear:both; }
.page_single_main_title{ font-size:12px; line-height:35px; height:35px;color:#333; }
.page_single_main_div{width:100%; max-width:1200px;min-width:1000px;margin:auto;}
.page_single_content{width:100%;  margin:auto;   overflow:hidden; }
.page_single_content a{ color:#336699;}
.page_single_content a:hover{ text-decoration:underline;}
.page_single_content table,.vip_rightdiv table{text-align:left;background-color:#fff;color:#666; 
border-collapse: collapse;word-break:break-all; word-wrap:break-word;
width:100%;margin-left:0px;  font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
margin-bottom:30px; font-size:16px;border:1px #eaeaea solid;}
.index_link{width:100%; max-width:1200px;min-width:1000px;margin:auto; border:1px #ddd solid; margin-top:20px;}
.index_link_text{ padding:10px 20px 10px 20px;}
.index_link_text a{ font-size:12px; color:#666; width:100px; float:left; }
.index_link_text a:hover{color:#000; text-decoration:underline;}


.css_end{max-width:1200px;min-width:1000px; margin:auto;  height:100px; margin-top:10px; padding-top:10px; border-top:1px #ddd solid; clear:both;}
.css_end a{ color:#333;}
.css_end_2{ float:left; font-size:12px;color:#666; }
.css_end_3{ float:right;font-size:12px; color:#666;}
.css_end span{ font-size:10px; }


.code2_div{ position:fixed;z-index:999; right:10px; top:20%; font-size:12px; color:#666; border:1px #ddd solid;border-right:2px #ddd solid;border-bottom:2px #ddd solid; width:110px; height:130px; text-align:center; padding-top:35px; background-color:#fff;}
.code2_close{ position:absolute;top:5px; right:5px;z-index:9999;cursor:pointer;}
.code2_close img{   }

.admin_topic_div{ clear:both; width:100%; height:45px; line-height:45px; border-top:1px #cdcdcd solid;border-bottom:1px #cdcdcd solid; color:#999;}


.alert_list_img{float:left;}
#alert_list_info{float:left; padding-left:10px;  font-size:14px}
#alert_list_info dl{color:#999;}
#alert_list_info b{color:#000;}
#alert_list_info a{color:#336699;font-size:14px}