/*全局*/
body {margin:0; padding:0; font-size:12px; color:#333; font-family:宋体,geneva,arial,helvetica,sans-serif; background:#fff; text-align:center;}
div,form,img,ul,li,h1,h4 {margin:0; padding:0; border:0;}
#web {margin-left:auto; margin-right:auto; width:935px; height:auto; text-align:left; margin:0 auto;}
a:link,a:visited,a:hover,a:active {color:#777; text-decoration:none;}
.box_10 {margin:0 auto; font-size:0; line-height:0; margin-top:9px;}
ul {list-style-type:none;}
.tui .about a:link,.tui .about a:visited {color:#f0f0f0;}
.tui .about a:hover {color:#db1010; text-decoration:underline;}
.list_z a:link,.list_z a:visited {color:#bb0010; font-size:20px; font-family:微软雅黑;}
.list_z a:hover {color:#f00; font-size:20px; font-family:微软雅黑;}
.hotz a:link,.hotz a:visited {color:#555;}
.hotz a:hover {color:#db1010; text-decoration:underline;}

/*头部*/
#top {float:left; width:100%; height:60px; margin-top:5px;}
#top .l {float:left; width:200px; margin-left:5px;}
#top .r {float:right;}
#navbar {float:left; width:100%; overflow:hidden;}
#navbar .m {line-height:35px; background:url(navbar.png) repeat-x; font-family:arial;}
#navbar .m img {vertical-align:middle;}
#navbar a:link, #navbar a:visited {color:#eee; text-decoration:none; background:url(separator.png) no-repeat 0 50%; padding:0 15px 0 15px;}
#navbar a:hover {color:#fefefe; text-decoration:none;}

/*广告*/
#ads_top {float:left; width:100%; height:187px; text-align:center;}

/*内页*/
#list {float:left; width:100%;}
#list .l {float:left; width:585px; padding-bottom:15px;}
#list .r {float:right; width:336px; margin-top:10px;}
#list .tui {background:#000; color:#fefefe;}
#list .tui h2 {margin:0; padding-left:15px; font-size:13px; line-height:26px;}
#list .tui .about {border-top:1px solid #949494; padding:5px 0 15px 15px; font-size:13px; line-height:26px;}
#list .page {float:left; width:100%; text-align:center; margin-top:15px; line-height:23px; font-size:14px;}
#list .page a {margin:5px 3px; color:#666; border:1px solid #ccc; padding:3px 5px 1px 5px;}
#list .page a:hover {margin:5px 3px; color:#ffa500; border:1px solid #ffa500; padding:3px 5px 1px 5px;}
#list .page strong {margin:5px 3px; font-weight:normal; padding:3px 5px 1px 5px; color:#333; border:1px solid #ffa501; background:#ffa502;}
#list .list_z {margin:10px 20px 0 3px;}
#list .list_z ul {margin-left:2px; height:80px;}
#list .list_z li {line-height:28px;}
#list .list_z li.o {color:#555; font-family:arial; padding-left:2px; border-bottom:1px solid #ddd;}
#list .l .nr {padding:10px; background:#f8f8f8; margin-top:10px;}
#list .l .nr a:link,#list .zuowen .nr a:visited {color:#06c;}
#list .l .nr a:hover {color:#06c; text-decoration:underline;}
#list .l .nr p {text-indent:22px; font-size:14px; line-height:24px; margin-top:0;}
#list .l .nr .center {text-indent:0; text-align:center;}
#list .l .hotz {font-size:14px; background:#f8f8f8; padding:0 30px 10px 30px;}
#list .l .hotz h2 {margin:0; padding-left:10px; font-size:12px;}
#list .l .hotz ul {padding:5px 0 0 10px; font-size:12px;}
#list .l .hotz li {line-height:22px;}
#list .l .hotz span {padding-left:15px; color:#949494;}
#list .l .dot {height:1px; font-size:0; border-top:1px solid #ddd; margin:0 5px 10px 5px;}
#list .l .neiye_top {float:left; width:100%; margin-top:20px;}
#list .l .neiye_top ul {text-align:center; line-height:22px; padding-bottom:10px;}
#list .l .neiye_top li {color:#949494; border-bottom:1px solid #ddd;}
#list .l .neiye_top h1 {font-size:20px; margin:0px; text-align:center; color:#000; line-height:28px;}

/*-底部-*/
#link {float:left; width:929px; margin-top:6px;}
#link .top {width:935px; height:16px; background:url(link.png) no-repeat;}
#link ul {float:left; width:100%; border:solid 1px #ccc; padding:5px 5px 5px 0;}
#link li {float:left; width:82px; line-height:20px; text-align:center;}
#foot {float:left; width:100%; margin-top:15px; padding-bottom:15px; font-family:arial;}
#foot ul {text-align:center;}
#foot li {margin-top:10px; color:#949494;}